{% extends "base.html" %}

{% block title %}
    Polle Project Manager
{% endblock %}

{% block heading_1 %}
    Welcome {{ session.name }} to use Polle project management tool!
{% endblock %}

{% block content %}
<p>Polle is a project management system that allows one to manage which projects your team members parcipate in.</p>
<p>Polle allows you to browse the <a href="/projects">projects</a> and <a href="/workers">workers</a>.</p>

    {% if not session.name %}
        <br>
        <p>New to Polle? Register <a href="/register">here</a>.</p>
    {% endif %}  
{% endblock %}