{% extends "base.html" %}

{% block title %}
    {{ worker.name }}
{% endblock %}

{% block heading_1 %}
    <span>
        {{ worker.name }} worker profile
        {% if session.id == worker.id %}
            <form action="/workers/{{worker.id}}/resign" method="POST">
                <input type="submit" value="Terminate contract">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        {% endif %}
    </span>
{% endblock %}
{% block content %}
    {% if projects %}
        {% for project in projects %}
            <p>Works in project <a href="/projects/{{project.id}}">{{project.name}}</a></p>
        {% endfor %}
    {% else %}
        <p>Currently does not work in any project</p>
    {% endif %}
{% endblock %}